In [30]:
import findspark
findspark.init()

from pyspark.sql import SparkSession
from delta import *
import os
import pandas as pd
import json

In [37]:
spark = SparkSession.builder \
    .appName("CSGO_Matches") \
    .master('local[*]') \
    .getOrCreate()

In [2]:
spark = SparkSession.builder \
    .config('spark.jars', 'C:\Program Files (x86)\MySQL\Connector J 8.0\mysql-connector-j-8.0.31.jar') \
    .appName("CSGO_Matches") \
    .master('local[*]') \
    .getOrCreate()

In [2]:
builder = SparkSession.builder \
    .master('local[*]') \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .appName("CSGO_Matches")

spark = configure_spark_with_delta_pip(builder) \
        .getOrCreate()

In [5]:
df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/oficina") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "veiculo") \
    .option("user", "root").option("password", "root").load()
df.show()

NameError: name 'spark' is not defined

In [1]:
import requests

In [4]:
gameId = 100015682
api_key = "dedaad020f8d43b2aafcb7d1460a1f4b"
url = f"https://api.sportsdata.io/v3/csgo/stats/json/BoxScore/{gameId}"
response = requests.get(url, headers={"Ocp-Apim-Subscription-Key": f"{api_key}"})
response.json()

[{'Game': {'GameId': 100015682,
   'RoundId': 100002653,
   'Season': 2022,
   'SeasonType': 3,
   'Group': None,
   'TeamAId': 100000205,
   'TeamBId': 100000502,
   'VenueId': None,
   'Day': '2022-09-28T00:00:00',
   'DateTime': '2022-09-28T13:30:00',
   'Status': 'Final',
   'Week': None,
   'BestOf': '3',
   'Winner': 'Scrambled',
   'VenueType': None,
   'TeamAKey': 'FUR',
   'TeamAName': 'FURIA Esports',
   'TeamAScore': 0,
   'TeamBKey': 'OUT',
   'TeamBName': 'Outsiders',
   'TeamBScore': 0,
   'TeamAMoneyLine': None,
   'TeamBMoneyLine': None,
   'DrawMoneyLine': None,
   'PointSpread': None,
   'TeamAPointSpreadPayout': None,
   'TeamBPointSpreadPayout': None,
   'Updated': '2022-09-28T13:07:27',
   'UpdatedUtc': '2022-09-28T17:07:27',
   'IsClosed': True},
  'Maps': [{'Number': 1,
    'Name': 'de_ancient',
    'Status': 'Scheduled',
    'CurrentRound': 0,
    'TeamAScore': 0,
    'TeamBScore': 0,
    'Leaderboards': [{'PlayerId': 100001797,
      'TeamId': 100000205,
      'Name': 'Kaike Cerato',
      'MatchName': 'kscerato',
      'Team': 'FURIA Esports',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000502,
      'Opponent': 'Outsiders',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 20.8,
      'Kills': 4.5,
      'Assists': 0.2,
      'Deaths': 2.5,
      'Headshots': 2.7,
      'AverageDamagePerRound': 41.7,
      'Kast': 36.9,
      'Rating': 0.3,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001794,
      'TeamId': 100000205,
      'Name': 'Yuri Santos',
      'MatchName': 'yuurih',
      'Team': 'FURIA Esports',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000502,
      'Opponent': 'Outsiders',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 18.1,
      'Kills': 4.3,
      'Assists': 0.2,
      'Deaths': 2.5,
      'Headshots': 1.8,
      'AverageDamagePerRound': 39.5,
      'Kast': 40.3,
      'Rating': 0.3,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100003237,
      'TeamId': 100000205,
      'Name': 'Rafael Costa',
      'MatchName': 'saffee',
      'Team': 'FURIA Esports',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000502,
      'Opponent': 'Outsiders',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 15.9,
      'Kills': 4.3,
      'Assists': 0.2,
      'Deaths': 2.3,
      'Headshots': 0.6,
      'AverageDamagePerRound': 30.9,
      'Kast': 33.6,
      'Rating': 0.3,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100003570,
      'TeamId': 100000205,
      'Name': 'André Abreu',
      'MatchName': 'drop',
      'Team': 'FURIA Esports',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000502,
      'Opponent': 'Outsiders',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 3.5,
      'Kills': 2.9,
      'Assists': 0.4,
      'Deaths': 3.5,
      'Headshots': 0.8,
      'AverageDamagePerRound': 28.6,
      'Kast': 33.6,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001795,
      'TeamId': 100000205,
      'Name': 'Andrei Piovezan',
      'MatchName': 'arT',
      'Team': 'FURIA Esports',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000502,
      'Opponent': 'Outsiders',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 3.3,
      'Kills': 2.3,
      'Assists': 1.6,
      'Deaths': 3.7,
      'Headshots': 0.8,
      'AverageDamagePerRound': 25.4,
      'Kast': 35.2,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001068,
      'TeamId': 100000502,
      'Name': 'Ali Djami',
      'MatchName': 'Jame',
      'Team': 'Outsiders',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000205,
      'Opponent': 'FURIA Esports',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 14.0,
      'Kills': 3.5,
      'Assists': 0.2,
      'Deaths': 2.7,
      'Headshots': 1.8,
      'AverageDamagePerRound': 35.5,
      'Kast': 35.2,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001065,
      'TeamId': 100000502,
      'Name': 'Alexey Golubev',
      'MatchName': 'Qikert',
      'Team': 'Outsiders',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000205,
      'Opponent': 'FURIA Esports',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 3.5,
      'Kills': 2.7,
      'Assists': 0.2,
      'Deaths': 3.7,
      'Headshots': 1.6,
      'AverageDamagePerRound': 31.2,
      'Kast': 33.6,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100002672,
      'TeamId': 100000502,
      'Name': 'Petr Bolyshev',
      'MatchName': 'fame',
      'Team': 'Outsiders',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000205,
      'Opponent': 'FURIA Esports',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 10.9,
      'Kills': 2.9,
      'Assists': 1.2,
      'Deaths': 3.9,
      'Headshots': 1.8,
      'AverageDamagePerRound': 31.1,
      'Kast': 25.2,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001378,
      'TeamId': 100000502,
      'Name': 'David Danielyan',
      'MatchName': 'n0rb3r7',
      'Team': 'Outsiders',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000205,
      'Opponent': 'FURIA Esports',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 3.9,
      'Kills': 3.1,
      'Assists': 0.4,
      'Deaths': 4.1,
      'Headshots': 1.4,
      'AverageDamagePerRound': 28.6,
      'Kast': 20.1,
      'Rating': 0.2,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None},
     {'PlayerId': 100001849,
      'TeamId': 100000502,
      'Name': 'Jenya Lebedev',
      'MatchName': 'FL1T',
      'Team': 'Outsiders',
      'IsClosed': True,
      'GameId': 100015682,
      'OpponentId': 100000205,
      'Opponent': 'FURIA Esports',
      'Day': '2022-09-28T00:00:00',
      'DateTime': '2022-09-28T13:30:00',
      'Updated': '2022-10-23T05:54:07',
      'UpdatedUtc': None,
      'Games': None,
      'Maps': 1.0,
      'FantasyPoints': 1.0,
      'Kills': 2.1,
      'Assists': 0.0,
      'Deaths': 3.9,
      'Headshots': 0.8,
      'AverageDamagePerRound': 21.0,
      'Kast': 25.2,
      'Rating': 0.1,
      'EntryKills': None,
      'QuadKills': None,
      'Aces': None,
      'Clutch1v2s': None,
      'Clutch1v3s': None,
      'Clutch1v4s': None,
      'Clutch1v5s': None}]}]}]

In [4]:
def get_games_ids():
  df_history = spark.read.format("delta").load("spark-warehouse/bronze.db/csgo_match_history")
  try:
    df_proceeded = spark.read.parquet("raw/games_proceeded")
    df_join = df_history.join(df_proceeded, "gameId", "left").filter("path is null").select("gameId")
    return df_join
  except:
    return df_history.select("gameId")

In [5]:
df_history = spark.read.format("delta").load("spark-warehouse/bronze.db/csgo_match_history")
df_history

DataFrame[GameId: int, RoundId: int, Season: int, SeasonType: int, Group: string, TeamAId: int, TeamBId: int, VenueId: int, Day: string, DateTime: string, Status: string, Week: int, BestOf: string, Winner: string, VenueType: string, TeamAKey: string, TeamAName: string, TeamAScore: int, TeamBKey: string, TeamBName: string, TeamBScore: int, TeamAMoneyLine: int, TeamBMoneyLine: int, DrawMoneyLine: int, PointSpread: decimal(10,0), TeamAPointSpreadPayout: int, TeamBPointSpreadPayout: int, Updated: string, UpdatedUtc: string, IsClosed: boolean, row_number: int]

In [6]:
df = get_games_ids()
df.show()

+---------+
|   gameId|
+---------+
|100015581|
|100015582|
|100015583|
|100015584|
|100015585|
|100015586|
|100015587|
|100015588|
|100015589|
|100015590|
|100015591|
|100015592|
|100015679|
|100015680|
|100015681|
|100015682|
|100015683|
|100015684|
|100015685|
|100015686|
+---------+
only showing top 20 rows

In [40]:
df = pd.read_parquet("spark-warehouse/bronze.db/csgo_match_history")
df

,GameId,RoundId,Season,SeasonType,Group,TeamAId,TeamBId,VenueId,Day,DateTime,...,TeamBScore,TeamAMoneyLine,TeamBMoneyLine,DrawMoneyLine,PointSpread,TeamAPointSpreadPayout,TeamBPointSpreadPayout,Updated,UpdatedUtc,IsClosed
0,100015581,100002639,2022,1,Group D,100000081,100000522,NaN,2022-09-22T00:00:00,2022-09-22T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T08:56:23,2022-09-22T12:56:23,True
1,100015582,100002639,2022,1,Group D,100000267,100000205,NaN,2022-09-22T00:00:00,2022-09-22T14:00:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T12:21:28,2022-09-22T16:21:28,True
2,100015583,100002639,2022,1,Group D,100000098,100000234,NaN,2022-09-22T00:00:00,2022-09-22T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T15:42:22,2022-09-22T19:42:22,True
3,100015584,100002639,2022,1,Group D,100000081,100000267,NaN,2022-09-23T00:00:00,2022-09-23T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T08:28:27,2022-09-23T12:28:27,True
4,100015585,100002639,2022,1,Group D,100000522,100000234,NaN,2022-09-23T00:00:00,2022-09-23T14:00:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T12:07:21,2022-09-23T16:07:21,True
5,100015586,100002639,2022,1,Group D,100000098,100000205,NaN,2022-09-23T00:00:00,2022-09-23T17:30:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T16:42:28,2022-09-23T20:42:28,True
6,100015587,100002639,2022,1,Group D,100000267,100000234,NaN,2022-09-24T00:00:00,2022-09-24T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T08:49:23,2022-09-24T12:49:23,True
7,100015588,100002639,2022,1,Group D,100000098,100000522,NaN,2022-09-24T00:00:00,2022-09-24T14:00:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T12:28:19,2022-09-24T16:28:19,True
8,100015589,100002639,2022,1,Group D,100000081,100000205,NaN,2022-09-24T00:00:00,2022-09-24T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T15:49:23,2022-09-24T19:49:23,True
9,100015590,100002639,2022,1,Group D,100000081,100000098,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T16:49:29,2022-09-25T20:49:29,True
10,100015591,100002639,2022,1,Group D,100000267,100000522,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T15:42:21,2022-09-25T19:42:21,True
11,100015592,100002639,2022,1,Group D,100000205,100000234,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T15:56:48,2022-09-25T19:56:48,True
12,100015679,100002653,2022,3,None,100000085,100000098,NaN,2022-09-27T00:00:00,2022-09-27T13:30:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-27T13:21:23,2022-09-27T17:21:23,True
13,100015680,100002653,2022,3,None,100000082,100000108,NaN,2022-09-27T00:00:00,2022-09-27T17:55:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-27T17:21:27,2022-09-27T21:21:27,True
14,100015681,100002653,2022,3,None,100000103,100000090,NaN,2022-09-28T00:00:00,2022-09-28T17:50:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-28T19:42:18,2022-09-28T23:42:18,True
15,100015682,100002653,2022,3,None,100000205,100000502,NaN,2022-09-28T00:00:00,2022-09-28T13:30:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-28T13:07:27,2022-09-28T17:07:27,True
16,100015683,100002654,2022,3,None,100000089,100000098,NaN,2022-09-29T00:00:00,2022-09-29T13:45:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-29T12:14:25,2022-09-29T16:14:25,True
17,100015684,100002654,2022,3,None,100000081,100000082,NaN,2022-09-29T00:00:00,2022-09-29T17:00:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-29T16:42:19,2022-09-29T20:42:19,True
18,100015685,100002654,2022,3,None,100000086,100000090,NaN,2022-09-30T00:00:00,2022-09-30T17:15:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-30T17:14:37,2022-09-30T21:14:37,True
19,100015686,100002654,2022,3,None,100000206,100000502,NaN,2022-09-30T00:00:00,2022-09-30T13:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-30T12:35:41,2022-09-30T16:35:41,True
20,100015687,100002655,2022,3,None,100000098,100000081,NaN,2022-10-01T00:00:00,2022-10-01T13:30:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-01T13:21:24,2022-10-01T17:21:24,True
21,100015688,100002655,2022,3,None,100000206,100000086,NaN,2022-10-01T00:00:00,2022-10-01T18:00:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-01T16:56:26,2022-10-01T20:56:26,True
22,100015689,100002656,2022,3,None,100000098,100000206,NaN,2022-10-02T00:00:00,2022-10-02T15:00:00,...,8.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-02T18:38:34,2022-10-02T22:38:34,True
23,100015747,100002661,2022,3,None,100000108,100000123,NaN,2022-10-19T00:00:00,2022-10-19T22:00:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-19T20:30:02,2022-10-20T00:30:02,True
24,100015748,100002661,2022,3,None,100000127,100000355,NaN,2022-10-20T00:00:00,2022-10-20T21:15:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-20T20:35:26,2022-10-21T00:35:26,True
25,100015749,100002661,2022,3,None,100000234,100000531,NaN,2022-10-21T00:00:00,2022-10-21T18:20:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-21T18:14:36,2022-10-21T22:14:36,True
26,100015750,100002661,2022,3,None,100000492,100000530,NaN,2022-10-21T00:00:00,2022-10-21T22:40:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-21T21:21:22,2022-10-22T01:21:22,True
27,100015751,100002662,2022,3,None,100000123,100000127,NaN,2022-10-22T00:00:00,2022-10-22T17:20:00,...,5.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T16:07:26,2022-10-22T20:07:26,True
28,100015752,100002662,2022,3,None,100000531,100000492,NaN,2022-10-22T00:00:00,2022-10-22T20:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T19:00:39,2022-10-22T23:00:39,True
29,100015753,100002663,2022,3,None,100000127,100000531,NaN,2022-10-23T00:00:00,2022-10-23T20:30:00,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T19:13:34,2022-10-22T23:13:34,False
30,100015581,100002639,2022,1,Group D,100000081,100000522,NaN,2022-09-22T00:00:00,2022-09-22T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T08:56:23,2022-09-22T12:56:23,True
31,100015582,100002639,2022,1,Group D,100000267,100000205,NaN,2022-09-22T00:00:00,2022-09-22T14:00:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T12:21:28,2022-09-22T16:21:28,True
32,100015583,100002639,2022,1,Group D,100000098,100000234,NaN,2022-09-22T00:00:00,2022-09-22T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-22T15:42:22,2022-09-22T19:42:22,True
33,100015584,100002639,2022,1,Group D,100000081,100000267,NaN,2022-09-23T00:00:00,2022-09-23T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T08:28:27,2022-09-23T12:28:27,True
34,100015585,100002639,2022,1,Group D,100000522,100000234,NaN,2022-09-23T00:00:00,2022-09-23T14:00:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T12:07:21,2022-09-23T16:07:21,True
35,100015586,100002639,2022,1,Group D,100000098,100000205,NaN,2022-09-23T00:00:00,2022-09-23T17:30:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-23T16:42:28,2022-09-23T20:42:28,True
36,100015587,100002639,2022,1,Group D,100000267,100000234,NaN,2022-09-24T00:00:00,2022-09-24T10:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T08:49:23,2022-09-24T12:49:23,True
37,100015588,100002639,2022,1,Group D,100000098,100000522,NaN,2022-09-24T00:00:00,2022-09-24T14:00:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T12:28:19,2022-09-24T16:28:19,True
38,100015589,100002639,2022,1,Group D,100000081,100000205,NaN,2022-09-24T00:00:00,2022-09-24T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-24T15:49:23,2022-09-24T19:49:23,True
39,100015590,100002639,2022,1,Group D,100000081,100000098,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T16:49:29,2022-09-25T20:49:29,True
40,100015591,100002639,2022,1,Group D,100000267,100000522,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T15:42:21,2022-09-25T19:42:21,True
41,100015592,100002639,2022,1,Group D,100000205,100000234,NaN,2022-09-25T00:00:00,2022-09-25T17:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-25T15:56:48,2022-09-25T19:56:48,True
42,100015679,100002653,2022,3,None,100000085,100000098,NaN,2022-09-27T00:00:00,2022-09-27T13:30:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-27T13:21:23,2022-09-27T17:21:23,True
43,100015680,100002653,2022,3,None,100000082,100000108,NaN,2022-09-27T00:00:00,2022-09-27T17:55:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-27T17:21:27,2022-09-27T21:21:27,True
44,100015681,100002653,2022,3,None,100000103,100000090,NaN,2022-09-28T00:00:00,2022-09-28T17:50:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-28T19:42:18,2022-09-28T23:42:18,True
45,100015682,100002653,2022,3,None,100000205,100000502,NaN,2022-09-28T00:00:00,2022-09-28T13:30:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-28T13:07:27,2022-09-28T17:07:27,True
46,100015683,100002654,2022,3,None,100000089,100000098,NaN,2022-09-29T00:00:00,2022-09-29T13:45:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-29T12:14:25,2022-09-29T16:14:25,True
47,100015684,100002654,2022,3,None,100000081,100000082,NaN,2022-09-29T00:00:00,2022-09-29T17:00:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-29T16:42:19,2022-09-29T20:42:19,True
48,100015685,100002654,2022,3,None,100000086,100000090,NaN,2022-09-30T00:00:00,2022-09-30T17:15:00,...,1.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-30T17:14:37,2022-09-30T21:14:37,True
49,100015686,100002654,2022,3,None,100000206,100000502,NaN,2022-09-30T00:00:00,2022-09-30T13:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-09-30T12:35:41,2022-09-30T16:35:41,True
50,100015687,100002655,2022,3,None,100000098,100000081,NaN,2022-10-01T00:00:00,2022-10-01T13:30:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-01T13:21:24,2022-10-01T17:21:24,True
51,100015688,100002655,2022,3,None,100000206,100000086,NaN,2022-10-01T00:00:00,2022-10-01T18:00:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-01T16:56:26,2022-10-01T20:56:26,True
52,100015689,100002656,2022,3,None,100000098,100000206,NaN,2022-10-02T00:00:00,2022-10-02T15:00:00,...,8.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-02T18:38:34,2022-10-02T22:38:34,True
53,100015747,100002661,2022,3,None,100000108,100000123,NaN,2022-10-19T00:00:00,2022-10-19T22:00:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-19T20:30:02,2022-10-20T00:30:02,True
54,100015748,100002661,2022,3,None,100000127,100000355,NaN,2022-10-20T00:00:00,2022-10-20T21:15:00,...,2.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-20T20:35:26,2022-10-21T00:35:26,True
55,100015749,100002661,2022,3,None,100000234,100000531,NaN,2022-10-21T00:00:00,2022-10-21T18:20:00,...,4.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-21T18:14:36,2022-10-21T22:14:36,True
56,100015750,100002661,2022,3,None,100000492,100000530,NaN,2022-10-21T00:00:00,2022-10-21T22:40:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-21T21:21:22,2022-10-22T01:21:22,True
57,100015751,100002662,2022,3,None,100000123,100000127,NaN,2022-10-22T00:00:00,2022-10-22T17:20:00,...,5.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T16:07:26,2022-10-22T20:07:26,True
58,100015752,100002662,2022,3,None,100000531,100000492,NaN,2022-10-22T00:00:00,2022-10-22T20:30:00,...,0.0,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T19:00:39,2022-10-22T23:00:39,True
59,100015753,100002663,2022,3,None,100000127,100000531,NaN,2022-10-23T00:00:00,2022-10-23T20:30:00,...,NaN,NaN,NaN,NaN,None,NaN,NaN,2022-10-22T19:13:34,2022-10-22T23:13:34,False

In [36]:
df_proceeded = spark.read.parquet("raw/games_proceeded")
df_maps = spark.read.parquet("raw/tb_maps")
df_join = df_proceeded.join(df_maps, "gameId", "left")
df_join.show()

+---------+--------------------+------+-----------+----------+------------+----------+----------+--------------+--------------+--------+--------+
|   gameId|                path|Number|       Name|    Status|CurrentRound|TeamAScore|TeamBScore|     TeamAName|     TeamBName|TeamAKey|TeamBKey|
+---------+--------------------+------+-----------+----------+------------+----------+----------+--------------+--------------+--------+--------+
|100015748|raw/games_landing...|     1|de_overpass| Scheduled|           0|         0|         0|          MIBR|      Team One|     MIB|     ONE|
|100015688|raw/games_landing...|     1|  de_mirage| Scheduled|           0|         0|         0| Team Vitality|    G2 Esports|     VIT|     G2E|
|100015582|raw/games_landing...|     1| de_ancient| Scheduled|           0|         0|         0|Movistar Rider| FURIA Esports|     MOV|     FUR|
|100015685|raw/games_landing...|     1|   de_dust2| Scheduled|           0|         0|         0|    G2 Esports| Natus Vincere|     G2E|     NAV|
|100015586|raw/games_landing...|     1|  de_mirage| Scheduled|           0|         0|         0|   Team Liquid| FURIA Esports|     LIQ|     FUR|
|100015747|raw/games_landing...|     1|   de_dust2| Scheduled|           0|         0|         0|    compLexity|Sharks Esports|     COM|     SHA|
|100015583|raw/games_landing...|     1| de_inferno| Scheduled|           0|         0|         0|   Team Liquid| Evil Geniuses|     LIQ|     EVG|
|100015680|raw/games_landing...|     1|de_overpass| Scheduled|           0|         0|         0|     FaZe Clan|    compLexity|     FAZ|     COM|
|100015591|raw/games_landing...|     1| de_vertigo| Scheduled|           0|         0|         0|Movistar Rider|  Eternal Fire|     MOV|     ETE|
|100015589|raw/games_landing...|     1|  de_mirage| Scheduled|           0|         0|         0|        Cloud9| FURIA Esports|     CLO|     FUR|
|100015585|raw/games_landing...|     1|de_overpass| Scheduled|           0|         0|         0|  Eternal Fire| Evil Geniuses|     ETE|     EVG|
|100015683|raw/games_landing...|     1| de_inferno| Scheduled|           0|         0|         0|   mousesports|   Team Liquid|     MOU|     LIQ|
|100015682|raw/games_landing...|     1| de_ancient| Scheduled|           0|         0|         0| FURIA Esports|     Outsiders|     FUR|     OUT|
|100015590|raw/games_landing...|     1| de_inferno| Scheduled|           0|         0|         0|        Cloud9|   Team Liquid|     CLO|     LIQ|
|100015584|raw/games_landing...|     1| de_inferno| Scheduled|           0|         0|         0|        Cloud9|Movistar Rider|     CLO|     MOV|
|100015592|raw/games_landing...|     1|de_overpass| Scheduled|           0|         0|         0| FURIA Esports| Evil Geniuses|     FUR|     EVG|
|100015749|raw/games_landing...|     1|   de_dust2|InProgress|           7|         1|         2| Evil Geniuses|         Fluxo|     EVG|     FLX|
|100015752|raw/games_landing...|     1| de_ancient| Scheduled|           0|         0|         0|         Fluxo|      00Nation|     FLX|     00N|
|100015679|raw/games_landing...|     1| de_inferno| Scheduled|           0|         0|         0|        Fnatic|   Team Liquid|     FNA|     LIQ|
|100015681|raw/games_landing...|     1|  de_mirage| Scheduled|           0|         0|         0|        Heroic| Natus Vincere|     HER|     NAV|
+---------+--------------------+------+-----------+----------+------------+----------+----------+--------------+--------------+--------+--------+
only showing top 20 rows

In [27]:
df = pd.read_parquet("raw/tb_maps/")
df

,Number,Name,Status,CurrentRound,TeamAScore,TeamBScore,GameId,TeamAName,TeamBName,TeamAKey,TeamBKey
0,1,de_dust2,Scheduled,0,0,0,100015581,Cloud9,Eternal Fire,CLO,ETE

In [25]:
df = pd.read_parquet("raw/tb_leaderboards/")
df

,PlayerId,TeamId,Name,MatchName,Team,IsClosed,GameId,OpponentId,Opponent,Day,...,Kast,Rating,EntryKills,QuadKills,Aces,Clutch1v2s,Clutch1v3s,Clutch1v4s,Clutch1v5s,MapName
0,100001211,100000081,Abay Khasenov,HObbit,Cloud9,True,100015581,100000522,Eternal Fire,2022-09-22T00:00:00,...,46.599998,0.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
1,100001376,100000081,Sergey Rykhtorov,Ax1Le,Cloud9,True,100015581,100000522,Eternal Fire,2022-09-22T00:00:00,...,44.099998,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
2,100002289,100000081,Timofey Yakushin,interz,Cloud9,True,100015581,100000522,Eternal Fire,2022-09-22T00:00:00,...,53.900002,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
3,100002291,100000081,Dmitry Sokolov,sh1ro,Cloud9,True,100015581,100000522,Eternal Fire,2022-09-22T00:00:00,...,51.400002,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
4,100002292,100000081,Vladislav Gorshkov,nafany,Cloud9,True,100015581,100000522,Eternal Fire,2022-09-22T00:00:00,...,41.599998,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
5,100001028,100000522,Can Dörtkardeş,XANTARES,Eternal Fire,True,100015581,100000081,Cloud9,2022-09-22T00:00:00,...,53.900002,0.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
6,100001031,100000522,Ahmet Karahoca,paz,Eternal Fire,True,100015581,100000081,Cloud9,2022-09-22T00:00:00,...,46.599998,0.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
7,100001032,100000522,Engin Kupeli,MAJ3R,Eternal Fire,True,100015581,100000081,Cloud9,2022-09-22T00:00:00,...,39.200001,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
8,100001208,100000522,Özgür Eker,woxic,Eternal Fire,True,100015581,100000081,Cloud9,2022-09-22T00:00:00,...,41.599998,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2
9,100003399,100000522,Ömer Karataş,imoRR,Eternal Fire,True,100015581,100000081,Cloud9,2022-09-22T00:00:00,...,39.200001,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,de_dust2

In [7]:
df = pd.read_parquet("raw/games_proceeded/")
df

       gameId                              path
0   100015748  raw/games_landing/100015748.json
1   100015688  raw/games_landing/100015688.json
2   100015582  raw/games_landing/100015582.json
3   100015685  raw/games_landing/100015685.json
4   100015586  raw/games_landing/100015586.json
5   100015747  raw/games_landing/100015747.json
6   100015583  raw/games_landing/100015583.json
7   100015680  raw/games_landing/100015680.json
8   100015591  raw/games_landing/100015591.json
9   100015684  raw/games_landing/100015684.json
10  100015589  raw/games_landing/100015589.json
11  100015585  raw/games_landing/100015585.json
12  100015683  raw/games_landing/100015683.json
13  100015682  raw/games_landing/100015682.json
14  100015590  raw/games_landing/100015590.json
15  100015584  raw/games_landing/100015584.json
16  100015592  raw/games_landing/100015592.json
17  100015587  raw/games_landing/100015587.json
18  100015749  raw/games_landing/100015749.json
19  100015752  raw/games_landing/100015752.json
20  100015679  raw/games_landing/100015679.json
21  100015681  raw/games_landing/100015681.json
22  100015689  raw/games_landing/100015689.json
23  100015687  raw/games_landing/100015687.json
24  100015686  raw/games_landing/100015686.json
25  100015753  raw/games_landing/100015753.json
26  100015751  raw/games_landing/100015751.json
27  100015750  raw/games_landing/100015750.json
28  100015588  raw/games_landing/100015588.json
29  100015581  raw/games_landing/100015581.json

In [18]:
json.load(path)

AttributeError: 'str' object has no attribute 'read'

In [21]:
path = "raw/games_landing/100015584.json"
with open(path, 'r') as file:
    print(type(json.loads(file.read())))

<class 'list'>

In [22]:
path = "raw/games_landing/100015584.json"
with open(path, 'r') as file:
    print(json.load(file))

[{'Game': {'GameId': 100015584, 'RoundId': 100002639, 'Season': 2022, 'SeasonType': 1, 'Group': 'Group D', 'TeamAId': 100000081, 'TeamBId': 100000267, 'VenueId': None, 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Status': 'Final', 'Week': None, 'BestOf': '3', 'Winner': 'Scrambled', 'VenueType': None, 'TeamAKey': 'CLO', 'TeamAName': 'Cloud9', 'TeamAScore': 4, 'TeamBKey': 'MOV', 'TeamBName': 'Movistar Rider', 'TeamBScore': 0, 'TeamAMoneyLine': None, 'TeamBMoneyLine': None, 'DrawMoneyLine': None, 'PointSpread': None, 'TeamAPointSpreadPayout': None, 'TeamBPointSpreadPayout': None, 'Updated': '2022-09-23T08:28:27', 'UpdatedUtc': '2022-09-23T12:28:27', 'IsClosed': True}, 'Maps': [{'Number': 1, 'Name': 'de_inferno', 'Status': 'Scheduled', 'CurrentRound': 0, 'TeamAScore': 0, 'TeamBScore': 0, 'Leaderboards': [{'PlayerId': 100001211, 'TeamId': 100000081, 'Name': 'Abay Khasenov', 'MatchName': 'HObbit', 'Team': 'Cloud9', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000267, 'Opponent': 'Movistar Rider', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 67.9, 'Kills': 32.5, 'Assists': 10.3, 'Deaths': 17.7, 'Headshots': 10.3, 'AverageDamagePerRound': 145.6, 'Kast': 128.5, 'Rating': 3.5, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100001376, 'TeamId': 100000081, 'Name': 'Sergey Rykhtorov', 'MatchName': 'Ax1Le', 'Team': 'Cloud9', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000267, 'Opponent': 'Movistar Rider', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 13.3, 'Kills': 10.3, 'Assists': 4.4, 'Deaths': 19.2, 'Headshots': 13.1, 'AverageDamagePerRound': 66.5, 'Kast': 115.6, 'Rating': 1.8, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100002289, 'TeamId': 100000081, 'Name': 'Timofey Yakushin', 'MatchName': 'interz', 'Team': 'Cloud9', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000267, 'Opponent': 'Movistar Rider', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 85.7, 'Kills': 39.9, 'Assists': 8.7, 'Deaths': 14.8, 'Headshots': 14.8, 'AverageDamagePerRound': 161.4, 'Kast': 134.9, 'Rating': 4.1, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100002291, 'TeamId': 100000081, 'Name': 'Dmitry Sokolov', 'MatchName': 'sh1ro', 'Team': 'Cloud9', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000267, 'Opponent': 'Movistar Rider', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 69.4, 'Kills': 35.4, 'Assists': 4.4, 'Deaths': 14.8, 'Headshots': 10.3, 'AverageDamagePerRound': 149.8, 'Kast': 128.5, 'Rating': 3.8, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100002292, 'TeamId': 100000081, 'Name': 'Vladislav Gorshkov', 'MatchName': 'nafany', 'Team': 'Cloud9', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000267, 'Opponent': 'Movistar Rider', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 35.4, 'Kills': 20.7, 'Assists': 13.1, 'Deaths': 28.1, 'Headshots': 13.3, 'AverageDamagePerRound': 118.0, 'Kast': 102.8, 'Rating': 2.4, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100003514, 'TeamId': 100000267, 'Name': 'David Bermudo', 'MatchName': 'dav1g', 'Team': 'Movistar Rider', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000081, 'Opponent': 'Cloud9', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 28.1, 'Kills': 19.2, 'Assists': 8.7, 'Deaths': 28.1, 'Headshots': 11.8, 'AverageDamagePerRound': 104.3, 'Kast': 109.2, 'Rating': 1.6, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100002271, 'TeamId': 100000267, 'Name': 'Alejandro Masanet', 'MatchName': 'ALEX', 'Team': 'Movistar Rider', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000081, 'Opponent': 'Cloud9', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 36.9, 'Kills': 20.7, 'Assists': 10.3, 'Deaths': 25.1, 'Headshots': 10.3, 'AverageDamagePerRound': 114.3, 'Kast': 96.3, 'Rating': 2.0, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100002270, 'TeamId': 100000267, 'Name': 'Alejandro Fernández-Quejo Cano', 'MatchName': 'mopoz', 'Team': 'Movistar Rider', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000081, 'Opponent': 'Cloud9', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 35.4, 'Kills': 26.6, 'Assists': 2.2, 'Deaths': 28.1, 'Headshots': 13.1, 'AverageDamagePerRound': 111.7, 'Kast': 102.8, 'Rating': 2.2, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100003512, 'TeamId': 100000267, 'Name': 'Raúl Jordán Nieto', 'MatchName': 'DeathZz', 'Team': 'Movistar Rider', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000081, 'Opponent': 'Cloud9', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': -1.5, 'Kills': 10.3, 'Assists': 2.2, 'Deaths': 28.1, 'Headshots': 6.5, 'AverageDamagePerRound': 57.8, 'Kast': 77.1, 'Rating': 0.9, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}, {'PlayerId': 100003905, 'TeamId': 100000267, 'Name': 'Antonio Martinez Sánchez', 'MatchName': 'Martinez', 'Team': 'Movistar Rider', 'IsClosed': True, 'GameId': 100015584, 'OpponentId': 100000081, 'Opponent': 'Cloud9', 'Day': '2022-09-23T00:00:00', 'DateTime': '2022-09-23T10:30:00', 'Updated': '2022-10-23T05:54:29', 'UpdatedUtc': None, 'Games': None, 'Maps': 1.0, 'FantasyPoints': 14.8, 'Kills': 16.2, 'Assists': 8.7, 'Deaths': 29.5, 'Headshots': 8.7, 'AverageDamagePerRound': 88.3, 'Kast': 102.8, 'Rating': 1.7, 'EntryKills': None, 'QuadKills': None, 'Aces': None, 'Clutch1v2s': None, 'Clutch1v3s': None, 'Clutch1v4s': None, 'Clutch1v5s': None}]}]}]

In [24]:
from  process_game_details import *
game_ids = get_ids()
for i in game_ids.collect():
    process_game(i[0])

In [32]:
spark.stop()